In [1]:

import pandas as pd
data = pd.read_csv(r"C:\Users\pc\Desktop\Data science\MISSING_DATASET_HANDLING.csv",encoding='latin1')
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               7
YEAR_ID               54
PRODUCTLINE          196
MSRP                  60
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
ADDRESSLINE2        2545
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1078
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

In [2]:
#DROP

data = data.drop(columns=['ADDRESSLINE2'])
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE            195
STATUS                 7
QTR_ID                 7
MONTH_ID               7
YEAR_ID               54
PRODUCTLINE          196
MSRP                  60
PRODUCTCODE            7
CUSTOMERNAME          46
PHONE                 93
ADDRESSLINE1         242
CITY                   7
STATE               1491
POSTALCODE            83
COUNTRY                7
TERRITORY           1078
CONTACTLASTNAME        7
CONTACTFIRSTNAME       7
DEALSIZE             168
dtype: int64

In [5]:
#if missing values are less we can drop the rows
data = data.dropna(subset=['ORDERDATE','PRODUCTLINE'])
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                 32
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [6]:
data["MSRP"] = data["MSRP"].fillna(data["MSRP"].median())
data["YEAR_ID "] = data["YEAR_ID"].fillna(data["YEAR_ID"].mode()[0])
print(data.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                 32
ADDRESSLINE1          48
CITY                   0
STATE               1352
POSTALCODE            66
COUNTRY                0
TERRITORY            964
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
YEAR_ID                0
dtype: int64

C:\Users\pc\AppData\Local\Temp\ipykernel_348\3457443500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["MSRP"] = data["MSRP"].fillna(data["MSRP"].median())
C:\Users\pc\AppData\Local\Temp\ipykernel_348\3457443500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["YEAR_ID "] = data["YEAR_ID"].fillna(data["YEAR_ID"].mode()[0])